html {
    background-color: #212529;
    font-family: 'Raleway', sans-serif, thin;
    font-size: medium;
    color: #b3b3b3;
}

h1 {
    text-align: left;

}

img {
    margin-left: 100px;
    max-height: 450px;
    border-radius: 300px;
    border-style: solid;
    border-color: #212529;
    border-width: 10px;

}

img:hover {

    border-style: solid;
    border-color: #212529;
    border-width: 1px;
    
}


p {

    font-size: 155%;
    font-family: 'Raleway', sans-serif, thin;
    font-weight: 150;
    word-wrap: break-word;
    line-height: 2;

}

body {

    background-color: #212529;
}


#tech {
    align-items: center;
    font-size: 155%;
    font-family: 'Raleway', sans-serif, thin;
    font-weight: bold;
    word-wrap: break-word;
}

#rowTwo {
    font-weight: 150;
    color: #b3b3b3;
    word-wrap: break-word;
}

#skills:hover {

    border-radius: 20px;
    background-color: #363d44;
    color: #b3b3b3;
}

#soft:hover {
    border-radius: 20px;
    background-color: #363d44;
    color: #b3b3b3;
}

#hobbies:hover {
    color: #b3b3b3;
    border-radius: 20px;
    background-color: #363d44;
}

#infoSkills:hover {
    border-radius: 20px;
    background-color: #363d44;
}

#infoSoft:hover {
    border-radius: 20px;
    background-color: #363d44;
}

#infoHobbies:hover {
    border-radius: 20px;
    background-color: #363d44;
}


#gitHub {
    text-align: center;
    margin-left: 150px;
    text-align: center;

}

#nameSean {
    font-size: 2.5rem;
}

#title {
    font-size: 1.5rem;
}

h6 {

    font-weight: 200;
}

#postAdvice {
    color: #b3b3b3;
    font-style: italic;
    font-size: 1.5rem;
}

p {

    color: white;
}
